div.player {
  background: rgb(180, 170, 118);
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
}

button {
  border-radius: 40%;
  padding: 10px;
  border: none;
  margin: 1px;
}

button:hover, button.focused {
  background-color: rgb(248, 208, 7);
}
