/* div.player {
  background: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 30%;
  padding: 20px;
  border: none;
  margin: 1px;
  background-color: gray;
}

button:hover, button.focused {
  background-color: blue;
} */
